#### 2단계 - 고양이와 개는 몇 마리 있을까?

In [ ]:
SELECT ANIMAL_TYPE, COUNT(ANIMAL_TYPE) as count
FROM ANIMAL_INS
WHERE ANIMAL_TYPE IN ('Cat', 'Dog')
GROUP BY 1
ORDER BY 1;

#### 2단계 - 루시와 엘라 찾기

In [ ]:
SELECT ANIMAL_ID, NAME, SEX_UPON_INTAKE
FROM ANIMAL_INS
WHERE NAME IN ('Lucy', 'Ella', 'Pickle', 'Rogan', 'Sabrina', 'Mitty')
ORDER BY ANIMAL_ID;

#### 2단계 - 최솟값 구하기

In [ ]:
SELECT MIN(DATETIME) as '시간'
FROM ANIMAL_INS;

#### 2단계 - 동명 동물 수 찾기

In [ ]:
SELECT NAME, COUNT(NAME) as 'COUNT'
FROM ANIMAL_INS
GROUP BY NAME
HAVING COUNT(NAME) >= 2
ORDER BY NAME;

#### 2단계 - 이름이 el이 들어가는 동물 찾기

In [ ]:
SELECT ANIMAL_ID, NAME
FROM ANIMAL_INS
WHERE ANIMAL_TYPE = 'Dog' AND UPPER(NAME) LIKE '%EL%'
ORDER BY NAME;

#### 2단계 - 동물 수 구하기

In [ ]:
SELECT COUNT(ANIMAL_ID) as 'count'
FROM ANIMAL_INS;

#### 2단계 - 입양 시각 구하기(1)

In [ ]:
SELECT HOUR(DATETIME) AS 'HOUR_', COUNT(ANIMAL_ID) AS 'COUNT'
FROM ANIMAL_OUTS
GROUP BY HOUR_
HAVING HOUR_ >= 9 AND HOUR_ < 20
ORDER BY HOUR_;

#### 2단계 - NULL 처리하기

In [ ]:
# 풀이1
SELECT ANIMAL_TYPE, IFNULL(NAME, 'No name') as 'NAME', SEX_UPON_INTAKE
FROM ANIMAL_INS
ORDER BY ANIMAL_ID;

In [ ]:
# 풀이2
SELECT ANIMAL_TYPE,
    CASE
        WHEN NAME IS NULL THEN 'No name'
        ELSE NAME
    END AS 'NAME',
    SEX_UPON_INTAKE
FROM ANIMAL_INS
ORDER BY ANIMAL_ID;

#### 2단계 - 중성화 여부 파악하기,

In [ ]:
# 내가 푼 방법
SELECT ANIMAL_ID, NAME, 
    IF (SEX_UPON_INTAKE ='Neutered Male' OR SEX_UPON_INTAKE ='Spayed Female','O', 'X') AS '중성화'
FROM ANIMAL_INS
ORDER BY ANIMAL_ID;

In [ ]:
# 풀이1
SELECT ANIMAL_ID, NAME,
    CASE WHEN
    SEX_UPON_INTAKE LIKE 'Neutered%'
    OR
    SEX_UPON_INTAKE LIKE 'Spayed%'
    THEN 'O'
    ELSE 'X'
    END AS '중성화'
FROM ANIMAL_INS
ORDER BY ANIMAL_ID ASC;

In [ ]:
# 풀이2
SELECT ANIMAL_ID, NAME, if(SEX_UPON_INTAKE like 'Intact%', 'X', 'O') as '중성화'
from ANIMAL_INS
order by ANIMAL_ID

In [ ]:
# 풀이3
SELECT ANIMALID, NAME,
CASE WHEN SEXUPONINTAKE LIKE '%Intact%' THEN 'X' ELSE 'O' END AS '중성화'
FROM ANIMALINS
ORDER BY ANIMAL_ID;

#### 2단계 - 중복제거하기

In [ ]:
# 풀이1
SELECT COUNT(DISTINCT(NAME))
FROM ANIMAL_INS

In [ ]:
# 풀이2
SELECT COUNT(DISTINCT NAME) AS NAME_COUNT
FROM ANIMAL_INS
WHERE NAME IS NOT NULL

#### 2단계 - DATETIME에서 DATE로 형 변환

In [ ]:
# 풀이1
SELECT ANIMAL_ID, NAME, DATE_FORMAT(DATETIME, '%Y-%m-%d')
FROM ANIMAL_INS
ORDER BY ANIMAL_ID ASC;

In [ ]:
# 풀이2
SELECT ANIMAL_ID, NAME, LEFT(DATETIME, 10)
FROM ANIMAL_INS
ORDER BY ANIMAL_ID;